
.ng-invalid.ng-dirty{
	border-color: #ff0000;
}

.ng-valid.ng-dirty{
	border-color: #008000;
}

#formWrapper{
	width: 300px;
	padding: 10px;
	border: 1px dotted lightgray;
	margin-left: 10px;
}

#formWrapper input ,textarea, select{
	margin-bottom: 5px;
}


