<div class="page-header">
  <h1>Register</h1>
</div>

<form name="registerForm" ng-submit="registerForm.$valid && register()" novalidate>
  <div class="input-group">
    <input type="email" class="form-control" class="ng-pristine ng-invalid" placeholder="Email" ng-model="user.email" required>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" class="ng-pristine ng-invalid" placeholder="Username" ng-model="user.username" required>
  </div>
  <div class="input-group">
    <input type="password" class="form-control" class="ng-pristine ng-invalid" placeholder="Password" ng-model="user.password" required>
  </div>
  <div>registerForm is {{registerForm.$valid}}</div>
  <input type="submit" class="btn btn-default" value="Register" ng-disabled="!registerForm.$valid" ng-class="{'btn-success':registerForm.$valid}">
</form>
